*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    background: -webkit-gradient(linear, left top, right top, from(rgba(170, 143, 20, 0.9)), to(rgba(2, 46, 11, 0.9)));
    width: 100%;
    margin: 20px 0;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s relative;
    transform-style: preserve-3d;
    margin: 7px;
    height: 20vh;
    width: 10vw;
}

.back,.front {
    height: 20vh;
    width: 10vw;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    /* background-image: url("lemon.png"); */
    position: absolute;
    background: #FAB942 no-repeat center center / contain;
}
h1 {
    color: rgb(77, 53, 23);
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    box-shadow: 2px 2px 2px #ff5f56;
}

main {
    text-align: center;
}

div.scoreboard {
    box-sizing: border-box;
    padding-bottom: 2rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.back {
    transform: rotateY(180deg);
    /* background-color:#bdc3d4; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    position: absolute;
    overflow: hidden;
}

.chosen {
    transform: rotateY(180deg);
}

.match .front{
    background: rgb(248, 229, 152) !important;
}

button {
    margin-top: 3rem;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    position: absolute;
    font-size: 20px;
    color: rgb(126, 85, 10);
    box-shadow: 2px 2px 2px #ff5f56;
    background: wheat;
    border: 1px solid;
}

label {
    font-size: 25px;
    color: rgb(226, 143, 17);
}