body {
    background-color: bisque;
    width: 100%;
    font-size: 1.6rem;
    margin: 20px 4rem 10rem 4rem;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    position: relative;
    transition: all .4s relative;
    transform-style: preserve-3d;
    margin: 5px;
    height: 150px;
    width: 150px;
}

.back,.front {
    height: 150px;
    width: 150px;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background: thistle;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}

main {
    text-align: center;
}

div.scoreboard {
    box-sizing: border-box;
    padding-bottom: 2rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.back {
    transform: rotateY(180deg);
    background-color: tomato;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.chosen {
    transform: rotateY(180deg);
}

.match .front{
    background: cornflowerblue !important;
}